.content	{
	background-color: #000000;
	width: 1200px;
	margin: 0 auto;
}
.row {
	display: flex;
}
.row .box {
	margin: 10px;
	padding: 10px;
	width: 100px;
	background-color: #919191;
	border-radius: 10px;
}
.col-1 {
	flex-grow: 1;
}
.col-3 {
	flex-grow: 3;
}
.col-3 p {
	font-size: 20px;
	font-family: 'Lobster', cursive;
}
img {
	max-height: 100%;
	max-width: 100%;
}
h1 {
	text-align: center;
	color: #ffffff;
	font-family: 'Lobster', cursive;
}
